<div class="container">

  <div class="row">

    <div class="col-3"></div>

    <form class="col-6" (click)="submitForm()">

        <h4 align="center" class="form-item">تسجيل الدخول</h4>

        <div class="input-group" class="form-item">
          <input type="text" name="userName" class="form-control" placeholder="Username">
        </div>
      
        <div class="input-group" class="form-item">
            <input type="password" name="password" class="form-control" placeholder="Password">
        </div>

        <button type="submit" class="btn btn-primary">دخول</button>
      
    </form>
    
    <div class="col-3"></div>

                
  </div>

</div>