<nav class="navbar navbar-expand-lg navbar-light bg-light" style="margin-bottom:30px">
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
          <a class="nav-link" href="http://www.as-hal.net/index.php?option=com_contact&view=contact&id=1&Itemid=89">Ashal <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="about-us">About Us</a>          
      </li>
      </ul>
      <form class="form-inline my-2 my-lg-0">
        <a class="nav-link" routerLink="login">Login</a>          
      </form>
  </div>
</nav>
